<%- include('partials/head') -%>
<%- include('partials/nav') -%>

<main>
  <section class="movie-home">
    <% if (userStatus.loggedIn) { %>
        <h4>Welcome back, <a href="/<%= user.userName %>"><%= user.userName %>.</a> Let's see a movie... </h4>
    <% } %>
    <header class="movie-header"> 
      <div class="container">
        <h1 class="text-center">MovieTime</h1>
        <div class="d-flex justify-content-center">
            <form action="/movies/search" method="GET" class="d-flex">
                <label class="sr-only">Enter Movie Name</label>
                <input type="search" name="query" class="form-control" id="inlineFormInputName2" placeholder="Search for a movie">
            </form>
        </div>
      </div>
    </header>
  </section>

  <section class="section-carousel">
    <div class="carousel">  
      <h3>Trending</h3>
      <div class="carouselbox">
        <% for (let i = 0; i < trendMovies.length; i++) { %>
          <div class="movie-item">
            <a href="/movies/<%= trendMovies[i].id %>">
              <img src="<%= base_url + trendMovies[i].poster_path %>" class="slider-img img-fluid rounded img-<%=i%>" alt="movie poster" id="slider" loading="lazy">
            </a>
          </div>    
      <% } %>
      </div>  
      <a class="switchLeft sliderButton" onclick="sliderScrollLeft()"><</a>
      <a class="switchRight sliderButton" onclick="sliderScrollRight()">></a>
    </div>


    <div class="carousel">  
      <h3>Now Playing</h3>
      <div class="carouselbox1">
        <% for (let i = 0; i < trendMovies.length; i++) { %>
          <div class="movie-item">
            <a href="/movies/<%= nowPlayMovies[i].id %>">
              <img src="<%= base_url + nowPlayMovies[i].poster_path %>" class="slider-img img-fluid rounded img-<%=i%>" alt="movie poster" id="slider" loading="lazy">
            </a>
          </div>    
      <% } %>
      </div>  
      <a class="switchLeft sliderButton" onclick="sliderScrollLeft1()"><</a>
      <a class="switchRight sliderButton" onclick="sliderScrollRight1()">></a>
    </div>
  </section>
</main>

<script>
  const sliders = document.querySelector(".carouselbox")
  const sliders1 = document.querySelector(".carouselbox1")
  let scrollPerClick;
  let scrollAmount = 0;
  let scrollAmount1 = 0;
  let imagePadding = 20;


  function sliderScrollLeft(){
    sliders.scrollTo({
      top: 0,
      left: (scrollAmount -= scrollPerClick),
      behavior:"smooth"
    });

    if(scrollAmount < 0){
      scrollAmount = 0
    }
  }

  function sliderScrollRight(){
    if(scrollAmount <= sliders.scrollWidth - sliders.clientWidth){
      sliders.scrollTo({
        top: 0,
        left: (scrollAmount += scrollPerClick),
        behavior: "smooth",
      });
    }
  }

  function sliderScrollLeft1(){
    sliders1.scrollTo({
      top: 0,
      left: (scrollAmount1 -= scrollPerClick1),
      behavior:"smooth"
    });

    if(scrollAmount1 < 0){
      scrollAmount1 = 0
    }
  }

  function sliderScrollRight1(){
    if(scrollAmount1 <= sliders1.scrollWidth - sliders1.clientWidth){
      sliders1.scrollTo({
        top: 0,
        left: (scrollAmount1 += scrollPerClick1),
        behavior: "smooth",
      });
    }
  }

  scrollPerClick = 400;
  scrollPerClick1 = 400;
</script>

<%- include('partials/footer') -%>