<%- include('partials/head') -%>
<%- include('partials/nav') -%>
<main >
    <section class="justify-content-between py-4 likes-page">
        <% const movieTitle = movieDetails.title.replace(/:/g, '').replace(/\s+/g, '-').toLowerCase() %>
        <h5>Likes for <%= userProf.userName %> review of</h5>

        <h4 class="mt-2">
            <a href="/movies/<%= movieDetails.id %>-<%= movieTitle %>" class="movie-title"><%= movieDetails.title %></a>
            <span class="movie-date"><%= movieDetails.release_date.split('-')[0] %></span>
        </h4>
                <!-- Comment Section -->
                <section class="review-comments comment">
                    <ul>
                    <% for(let i=0; i < userLikes.length; i++) { %>
                        <% if (i === userLikes.length - 1) { %>
                        <li class="justify-content-between py-3 review-last">
                        <% } else { %>
                        <li class="justify-content-between py-3 review-other">
                        <% } %>
                            <div class="row">
                                <div class="col-lg-3 col-sm-3 d-flex align-items-center">
                                    <a href="/<%= userLikes[i].userName %>" class="nav-link">
                                        <img src="<%= userLikes[i].profilePic%>" alt="user profile picture" loading="lazy" class="img-fluid rounded comment-pic">
                                    </a>
                                    <div class="row">
                                        <a href="/<%= userLikes[i].userName %>" class="ms-2 comment-user"><%= userLikes[i].userName %></a>     
                                    </div>
                                </div>
                            </div>
                        </li>
                    <% } %>
                    </ul>
                </section>   
            </section>
    </section> 
</main>

<%- include('partials/footer') -%>

