<%- include('partials/head') -%>
<%- include('partials/nav') -%>

<main>
  <!-- Header -->
  <% if(movieDetails.backdrop_path != null) {%>
    <header class="movie-header" style="background-image: linear-gradient(to bottom, rgba(14, 13, 13, 0.5),rgba(0, 0, 0, 0.8)), url('https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces/<%= movieDetails.backdrop_path %>'); "> 
      <div class="container text-center"> 
        <h1 class="text-white">
          <%= movieDetails.title %> 
          <span style="color: #89a; font-size: 22px; font-weight: 300;">
            (<%= movieDetails.release_date.split('-')[0] %>)
          </span>
        </h1>
        <div class="d-flex flex-column">
          <span class="text-white mt-1 tagline"><%= movieDetails.tagline %></span>
        </div>
      </div>
    </header>
  <% }%>

  <!-- Body -->
  <section style="margin: 0 400px;">

    <!-- Overview -->
    <section class="mt-5">
      <div class="d-flex"> <!-- Using flexbox to align items vertically -->
        <div style="flex: 0.5;">
          <% if(movieDetails.poster_path != null) { %>
            <img src="<%= base_url + movieDetails.poster_path %>" alt="movie poster">
          <% } else { %>
            <img src="/imgs/missing-img.jpg" alt="movie poster">
          <% } %>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 220px;">
            Write review
          </button>
        </div>
        <div class="ms-5" style="flex: 2;"> <!-- Adding margin to the left of the card-body -->
          <% const filteredDirectors = movieCredit.crew.filter(({job})=> job ==='Director'); %>
          <h2><%= movieDetails.title %></h2>
          <% if(filteredDirectors.length !== 0) { %>
            <p style="font-size: 20px;" class="mb-2">Directed by <%= filteredDirectors[0].name %></p>
          <% } %>
          <p><%= movieDetails.overview %></p>
        </div>
      </div>
    </section>

    <!-- Modal -->
    <section class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Reviewing <%= movieDetails.title %>...</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <form action="/review/createReview/<%= movieId %>" method="POST">
            <div class="modal-body">
              <div class="mb-3">
                <label for="review" class="form-label">Review</label>
                <textarea class="form-control" id="review" name="review" rows="10" placeholder="Add a review..."></textarea>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
    </section>

    <!-- Review Comment Section -->
    <section class="mt-5">
      <h5 style="border-bottom: 1px solid gray; margin-bottom: 0;">Reviews</h5>
      <ul style="padding: 0;">
        <% for(let i=0; i < reviews.length; i++) {%>
          <li class="justify-content-between py-3" style="border-bottom: 1px solid gray; list-style: none;">
            <p style="font-weight: bold;"><%= reviews[i].userName%></p>
            <p><%= reviews[i].review%></p>
            <div class="review-container">
              <form action="/review/likeReview/<%= reviews[i]._id%>?_method=PUT" method="POST">
                <% let userLikesArray = reviews[i].userLikes.map(String); %>
                <% if(userLikesArray.includes(userId)) {%>
                  <button class="like-button" type="submit" id="review-section"><i class="fa fa-heart"></i>
                    <span style="font-weight: 600"> Liked</span>
                  </button> 
                  <span><%= reviews[i].reviewLikes %> likes</span>
                <% } else { %>
                  <button class="unlike-button" type="submit" id="review-section"><i class="fa fa-heart"></i>
                    <span style="font-weight: 500"> Like Review</span>
                  </button> 
                  <span><%= reviews[i].reviewLikes %> likes</span>
                <% } %>
              </form>
              
              <%if(reviews[i].user == userId){ %>
                <form action="/review/deleteReview/<%= reviews[i]._id %>?_method=DELETE" method="POST" class="delete-form">
                  <button class="delete-button" type="submit" id="review-section"><i class="fa fa-trash"></i></button> 
                </form>
              <%}%>
            </div>
   
          </li>
        <% } %>
      </ul>
    </section>   
  </section>
</main>

<%- include('partials/footer') -%>


