<%- include('partials/head') -%>
<%- include('partials/nav') -%>

<main>
  <!-- Header -->
  <% if(movieDetails.backdrop_path != null) {%>
    <header class="moviepage-header" style="background-image: linear-gradient(to bottom, rgba(14, 13, 13, 0.5),rgba(0, 0, 0, 0.8)), url('https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces/<%= movieDetails.backdrop_path %>');" loading="lazy"> 
      <div class="container text-center"> 
        <h1 class="text-white">
          <%= movieDetails.title %> 
          <span class="movie-date">
            (<%= movieDetails.release_date.split('-')[0] %>)
          </span>
        </h1>
        <div class="d-flex flex-column">
          <span class="text-white mt-1 tagline"><%= movieDetails.tagline %></span>
        </div>
      </div>
    </header>
  <% }%>

  <!-- Movie Overview -->
  <section class="d-flex justify-content-center movie-overview">
    <section class="mt-5">
      <!-- Movie Poster -->
      <div class="d-flex flex-wrap"> 
        <div class="movie-poster">
          <% if(movieDetails.poster_path != null) { %>
            <img src="<%= base_url + movieDetails.poster_path %>" alt="movie poster" loading="lazy">
          <% } else { %>
            <img src="/imgs/missing-img.jpg" alt="movie poster" class="missing-img" loading="lazy">
          <% } %>
          <!-- Button trigger modal -->
          <% if (userStatus.loggedIn) { %>
            <% if(userReview) { %>
              <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Edit your review...
              </button>
            <% } else { %>
              <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Write review
              </button>
            <% } %>
          <% } else { %>
            <a href="/login" class="btn btn-primary mt-2">Sign in to review</a>
          <% } %>
        </div>

        <!-- Movie Info -->
        <div class="ms-5 movie-info"> 
          <% const filteredDirectors = movieCredit.crew.filter(({job})=> job ==='Director'); %>
          <h2><%= movieDetails.title %></h2>
          <% if(filteredDirectors.length !== 0) { %>
            <span>Directed by</span>
            <% if(filteredDirectors.length === 1) { %>
              <p class="mb-2 dir-name"><%= filteredDirectors[0].name %></p>
            <% } else { %>
              <% for (let i = 0; i < filteredDirectors.length; i++) { %>
                <% if(i < filteredDirectors.length - 1) { %>
                  <p class="mb-2 dir-name"><%= filteredDirectors[i].name %>, </p>
                  <% } else { %>
                  <p class="mb-2 dir-name"><%= filteredDirectors[i].name %></p>
                <% } %>
              <% } %>
            <% } %>
          <% } %>
          <p class="overview"><%= movieDetails.overview %></p>
        </div>

        <!-- Movie Rating -->
        <div class="ms-5 text-center movie-rating"> 
          <% let rating = 0; %>
          <% let numOfRating = 0; %>
          <% let avgRating = 0; %>

          <% for (let i=0; i < reviews.length; i++) { %>
            <% if(reviews[i].rating !== 0 && reviews[i].rating !== null) { %>
              <% rating += reviews[i].rating; %>
              <% numOfRating += 1; %>
            <% } %>
          <% } %>
          
          <% if(numOfRating > 0) { %>
            <% avgRating = rating / numOfRating; %>
          <% } %>

          <% if(avgRating === 0.0) { %>
            <h4>No Rating</h4>
          <% } else { %>
            <p>Avg. Rating</p>
            
            <h3><span class="fa fa-star checked"></span> <%= avgRating.toFixed(1) %></h3>
          <% } %>
        </div>

      </div>

      <!-- Review Comment Section -->
      <section class="mt-5 review-comments">
        <h5 class="pb-1">Reviews</h5>
        <ul>
          <% for(let i=0; i < reviews.length; i++) {%>
            <% if (i === reviews.length - 1) { %>
              <li class="justify-content-between py-3 review-last">
            <% } else {%>
              <li class="justify-content-between py-3 review-other">
            <% } %>
              <% const movieTitle = movieDetails.title.replace(/:/g, '').replace(/\s+/g, '-').toLowerCase() %>
              <div class="row">
                <div class="col-auto">
                  <a href="/<%= reviews[i].user.userName %>" class="nav-link">
                    <img src="<%= reviews[i].user.profilePic%>" alt="user profile picture" loading="lazy" class="img-fluid rounded user-profilePic">
                  </a>
                </div>

                <div class="col">
                  <div class="review d-flex">
                    <a href="/<%= reviews[i].user.userName %>" class="nav-link">
                      <p class="review-username"><%= reviews[i].user.userName %></p>
                    </a>
                    <!-- Show star ratings based on reviews.rating -->
                    <div>
                        <% let rating = reviews[i].rating; %>
                        <% for (let j = 1; j <= 5; j++) { %>
                            <% if (j <= Math.floor(rating)) { %>
                                <span class="fa fa-star checked"></span>
                            <% } else if (j === Math.ceil(rating) && rating % 1 !== 0) { %>
                                <span class="fa fa-star-half checked"></span>
                            <% } %>
                        <% } %>
                    </div>
                    <span>
                      <% if(reviews[i].comments.length > 0) { %>
                        <a href="/<%= reviews[i].user.userName %>/review/<%= reviews[i].movieId %>-<%= movieTitle %>" class="review-comment">                                  
                          <i class="fa fa-comment"></i>
                          <%= reviews[i].comments.length %>
                        </a>
                      <% } %>
                    </span>
                  </div>
                  <p class="review"><%= reviews[i].review%></p>

                  <div class="review-container">
                    <form action="/review/likeReview/<%= movieId %>-<%= movieTitle %>/<%= reviews[i]._id%>?_method=PUT" method="POST" class="review-likes">
                      <% let userLikesArray = reviews[i].userLikes.map(String); %>
                      <% if (userStatus.loggedIn) { %>
                        <%if(reviews[i].user.id === user.id){ %>
                          <i class="fa fa-heart user-heart"></i>
                          <% if(reviews[i].reviewLikes === 0) { %>
                            <span>No likes yet</span>
                          <% } else if (reviews[i].reviewLikes === 1) { %>
                            <a href="/<%= reviews[i].user.userName %>/review/<%= reviews[i].movieId %>-<%= movieTitle %>/likes" class="like-link">
                              <%= reviews[i].reviewLikes %> like
                            </a>
                          <% } else { %>
                            <a href="/<%= reviews[i].user.userName %>/review/<%= reviews[i].movieId %>-<%= movieTitle %>/likes" class="like-link">
                              <%= reviews[i].reviewLikes %> likes
                            </a>
                          <% } %>
                        <% } else if(userLikesArray.includes(userId)) { %>
                          <button class="like-button" type="submit" id="review-section"><i class="fa fa-heart"></i>
                            <span> Liked</span>
                          </button> 
                          <% if(reviews[i].reviewLikes === 1) { %>
                            <a href="/<%= reviews[i].user.userName %>/review/<%= reviews[i].movieId %>-<%= movieTitle %>/likes" class="like-link">
                              <%= reviews[i].reviewLikes %> like
                            </a>
                          <% } else { %>
                            <a href="/<%= reviews[i].user.userName %>/review/<%= reviews[i].movieId %>-<%= movieTitle %>/likes" class="like-link">
                              <%= reviews[i].reviewLikes %> likes
                            </a>
                          <% } %>
                        <% } else { %>
                          <button class="unlike-button" type="submit" id="review-section"><i class="fa fa-heart"></i>
                            <span> Like Review</span>
                          </button> 
                          <% if(reviews[i].reviewLikes === 0) { %>
                            <span></span>
                          <% } else if (reviews[i].reviewLikes === 1) { %>
                            <a href="/<%= reviews[i].user.userName %>/review/<%= reviews[i].movieId %>-<%= movieTitle %>/likes" class="like-link">
                              <%= reviews[i].reviewLikes %> like
                            </a>
                          <% } else { %>
                            <a href="/<%= reviews[i].user.userName %>/review/<%= reviews[i].movieId %>-<%= movieTitle %>/likes" class="like-link">
                              <%= reviews[i].reviewLikes %> likes
                            </a>
                          <% } %>
                        <% } %>
                      <% } else { %>
                        <button class="unlike-button" type="submit" id="review-section"><i class="fa fa-heart"></i>
                          <span> Like Review</span>
                        </button> 
                        <% if(reviews[i].reviewLikes === 0) { %>
                          <span></span>
                        <% } else if (reviews[i].reviewLikes === 1) { %>
                          <a href="/<%= reviews[i].user.userName %>/review/<%= reviews[i].movieId %>-<%= movieTitle %>/likes" class="like-link">
                            <%= reviews[i].reviewLikes %> like
                          </a>
                        <% } else { %>
                          <a href="/<%= reviews[i].user.userName %>/review/<%= reviews[i].movieId %>-<%= movieTitle %>/likes" class="like-link">
                            <%= reviews[i].reviewLikes %> likes
                          </a>
                        <% } %>
                      <% } %>
                    </form>
                    <a href="/<%= reviews[i].user.userName %>/review/<%= reviews[i].movieId %>-<%= movieTitle %>" class="open-review">
                      <span>Open Review</span>
                    </a>

                    <% if (userStatus.loggedIn) { %>
                      <%if(reviews[i].user.id === user.id){ %>
                        <form action="/review/deleteReview/<%= movieId %>-<%= movieTitle %>/<%= reviews[i]._id %>?_method=DELETE" method="POST" class="delete-form">
                          <button class="delete-button" type="submit" id="review-section"><i class="fa fa-trash"></i></button> 
                        </form>
                      <%}%>
                    <% } %>              
                  </div>                 
                </div>
              </div>
            </li>
          <% } %>
        </ul>
      </section>   
    </section>

    <!-- Modal -->
    <section class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title font-weight-bold" id="exampleModalLabel"> <%= movieDetails.title %> 
              <span class="movie-date">
                <%= movieDetails.release_date.split('-')[0] %>
              </span>
            </h4>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <!-- Modal Body -->
          <% const movieTitle = movieDetails.title.replace(/:/g, '').replace(/\s+/g, '-').toLowerCase() %>
          <% if (userStatus.loggedIn) { %>
            <% if(userReview) { %>
              <form action="/review/updateReview/<%= movieId %>-<%= movieTitle %>?_method=PUT" method="POST">
            <% } else { %>
              <form action="/review/createReview/<%= movieId %>-<%= movieTitle %>" method="POST">
            <% } %>
          <% } %>
          
            <div class="modal-body d-flex">
              <div class="d-flex align-items-center">
                <% if(movieDetails.poster_path != null) { %>
                  <img src="<%= base_url + movieDetails.poster_path %>" class="img-fluid rounded modal-poster"  alt="movie poster" loading="lazy">
                  <% } %>
              </div>

              <div class="mb-3 modal-review">
                <h5 class="form-label font-weight-bold">Review</h5>
                <% if (userStatus.loggedIn) { %>
                  <% if(userReview) { %>
                    <textarea class="form-control" id="review" name="review" rows="7" placeholder="Add a review..."><%= userReview.review %></textarea>
                  <% } else { %>
                    <textarea class="form-control" id="review" name="review" rows="7" placeholder="Add a review..."></textarea>
                  <% } %>
                <% } %>
              </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer d-flex justify-content-between">
              <div class="rating-wrap d-flex flex-column">
                <h5>Rating</h5>
                <div>
                  <fieldset class="d-flex">
                    <button id="clearRating" class="clear-button" aria-label="Clear rating"><i class="fas fa-times"></i></button>
                    <div class="rating">
                      <input type="radio" id="star5" name="rating" value="5"/><label for="star5" class="full" title="Awesome"></label>
                      <input type="radio" id="star4.5" name="rating" value="4.5"/><label for="star4.5" class="half"></label>
                      <input type="radio" id="star4" name="rating" value="4"/><label for="star4" class="full"></label>
                      <input type="radio" id="star3.5" name="rating" value="3.5"/><label for="star3.5" class="half"></label>
                      <input type="radio" id="star3" name="rating" value="3"/><label for="star3" class="full"></label>
                      <input type="radio" id="star2.5" name="rating" value="2.5"/><label for="star2.5" class="half"></label>
                      <input type="radio" id="star2" name="rating" value="2"/><label for="star2" class="full"></label>
                      <input type="radio" id="star1.5" name="rating" value="1.5"/><label for="star1.5" class="half"></label>
                      <input type="radio" id="star1" name="rating" value="1"/><label for="star1" class="full"></label>
                      <input type="radio" id="star0.5" name="rating" value="0.5"/><label for="star0.5" class="half"></label>
                    </div>
                  </fieldset>
                </div>
              </div>
              <div>
                <% if (userStatus.loggedIn) { %>
                  <% if(userReview) { %>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  
                    <button type="submit" class="btn btn-primary">Save</button>
                  <% } else { %>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  <% } %>
                <% } %>
                
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>

  </section>
</main>

<<script>
  // Get all the star inputs
  const stars = document.querySelectorAll('.rating input');

  // Function to check the appropriate star rating input based on user's previous rating
  function checkUserRating(userRating) {
    stars.forEach(star => {
      if (star.value == userRating) {
        star.checked = true;
      }
    });
  }

  // Add click event listener to each star input
  stars.forEach(star => {
    star.addEventListener('click', function() {
      // Toggle the visibility of clear button based on whether any star is checked or not
      document.getElementById('clearRating').style.display = document.querySelector('.rating input:checked') ? 'inline-block' : 'none';
    });
  });

  // Add click event listener to clear button to reset the rating
  document.getElementById('clearRating').addEventListener('click', function() {
    event.preventDefault(); // Prevent the default form submission

    document.querySelector('.rating input:checked').checked = false;
    // Hide the clear button after resetting the rating
    this.style.display = 'none';
  });

  // Check and autofill the stars if user has already made a review
  <% if (userStatus.loggedIn) { %>
    <% if (userReview) { %>
      checkUserRating(<%= userReview.rating %>);
    <% } %>
  <% } %>

</script>
<%- include('partials/footer') -%>