<%- include('partials/head') -%>
<%- include('partials/nav') -%>

<main>
  <!-- Header -->
  <% if(movieDetails.backdrop_path != null) {%>
    <header class="movie-header" style="background-image: linear-gradient(to bottom, rgba(14, 13, 13, 0.5),rgba(0, 0, 0, 0.8)), url('https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces/<%= movieDetails.backdrop_path %>'); "> 
      <div class="container text-center"> 
        <h1 class="text-white">
          <%= movieDetails.title %> 
          <span style="color: #89a; font-size: 22px; font-weight: 300;">
            (<%= movieDetails.release_date.split('-')[0] %>)
          </span>
        </h1>
        <div class="d-flex flex-column">
          <span class="text-white mt-1 tagline"><%= movieDetails.tagline %></span>
        </div>
      </div>
    </header>
  <% }%>

  <!-- Body -->
  <section style="width: 1090px; margin: 0 auto; padding: 0 10px;">
    <!-- Overview -->
    <section class="mt-5">
      <div class="d-flex"> 
        <div style="flex: 0.5;">
          <% if(movieDetails.poster_path != null) { %>
            <img src="<%= base_url + movieDetails.poster_path %>" alt="movie poster">
          <% } else { %>
            <img src="/imgs/missing-img.jpg" alt="movie poster" style="width: 220px; height: 330px;">
          <% } %>
          <!-- Button trigger modal -->
          <% if(userHasReview) { %>
            <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 220px;">
              Edit your review...
            </button>
          <% } else { %>
            <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal" style="width: 220px;">
              Write review
            </button>
          <% } %>
        </div>

        <div class="ms-5" style="flex: 2;"> 
          <% const filteredDirectors = movieCredit.crew.filter(({job})=> job ==='Director'); %>
          <h2><%= movieDetails.title %></h2>
          <% if(filteredDirectors.length !== 0) { %>
            <span style="font-size: 20px;">Directed by</span>
            <% if(filteredDirectors.length === 1) { %>
              <p style="font-size: 20px; display: inline-block;" class="mb-2"><%= filteredDirectors[0].name %></p>
            <% } else { %>
              <% for (let i = 0; i < filteredDirectors.length; i++) { %>
                <% if(i < filteredDirectors.length - 1) { %>
                  <p style="font-size: 20px; display: inline-block;" class="mb-2"><%= filteredDirectors[i].name %>, </p>
                  <% } else { %>
                  <p style="font-size: 20px; display: inline-block;" class="mb-2"><%= filteredDirectors[i].name %></p>
                <% } %>
              <% } %>
            <% } %>
          <% } %>
          <p><%= movieDetails.overview %></p>
        </div>

        <div class="ms-5 text-center" style="flex: 0.5;"> 
          <% let rating = 0; %>
          <% let numOfRating = 0; %>
          <% let avgRating = 0; %>

          <% for (let i=0; i < reviews.length; i++) { %>
            <% if(reviews[i].rating !== null) { %>
              <% avgRating = rating / numOfRating; %>
              <% rating += reviews[i].rating; %>
              <% numOfRating += 1; %>
            <% } %>
          <% } %>
          
          <% if(numOfRating > 0) { %>
            <% avgRating = rating / numOfRating; %>
          <% } %>

          <% if(avgRating === 0.0) { %>
            <h4>No Rating</h4>
          <% } else { %>
            <p style="margin-bottom: 0;">Avg. Rating</p>
            <h3><%= avgRating.toFixed(1) %></h3>
          <% } %>
        </div>

      </div>
    </section>

    <!-- Modal -->
    <section class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title font-weight-bold" id="exampleModalLabel"> <%= movieDetails.title %> 
              <span style="color: #89a; font-size: 22px; font-weight: 300;">
                <%= movieDetails.release_date.split('-')[0] %>
              </span>
            </h4>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" style="color: white;"></button>
          </div>

          <!-- Modal Body -->
          <% if(userHasReview) { %>
            <form action="/review/updateReview/<%= movieId %>?_method=PUT" method="POST">
          <% } else { %>
            <form action="/review/createReview/<%= movieId %>" method="POST">
          <% } %>
            <div class="modal-body d-flex">
              <div class="d-flex align-items-center" style="margin-right: 50px">
                <% if(movieDetails.poster_path != null) { %>
                  <img src="<%= base_url + movieDetails.poster_path %>" class="img-fluid rounded"  alt="movie poster" style = "width: 150px; height: 225px;">
                  <% } %>
              </div>

              <div class="mb-3" style="flex-grow: 3;">
                <h5 class="form-label font-weight-bold">Review</h5>
                <% if(userHasReview) { %>
                  <textarea class="form-control" id="review" name="review" rows="7" placeholder="Add a review..."><%= userReview.userReviews[0].review %></textarea>
                <% } else { %>
                    <textarea class="form-control" id="review" name="review" rows="7" placeholder="Add a review..."></textarea>
                <% } %>
              </div>
            </div>

            <!-- Modal Footer -->
            <div class="modal-footer d-flex justify-content-between" style="padding: 12px 16px;">
              <div class="rating-wrap d-flex flex-column">
                <h5>Rating</h5>
                <div>
                  <fieldset class="d-flex">
                    <button id="clearRating" class="clear-button" aria-label="Clear rating" style="display: none; background-color: transparent; border: none;"><i class="fas fa-times"></i></button>
                    <div class="rating">
                      <input type="radio" id="star5" name="rating" value="5"/><label for="star5" class="full" title="Awesome"></label>
                      <input type="radio" id="star4.5" name="rating" value="4.5"/><label for="star4.5" class="half"></label>
                      <input type="radio" id="star4" name="rating" value="4"/><label for="star4" class="full"></label>
                      <input type="radio" id="star3.5" name="rating" value="3.5"/><label for="star3.5" class="half"></label>
                      <input type="radio" id="star3" name="rating" value="3"/><label for="star3" class="full"></label>
                      <input type="radio" id="star2.5" name="rating" value="2.5"/><label for="star2.5" class="half"></label>
                      <input type="radio" id="star2" name="rating" value="2"/><label for="star2" class="full"></label>
                      <input type="radio" id="star1.5" name="rating" value="1.5"/><label for="star1.5" class="half"></label>
                      <input type="radio" id="star1" name="rating" value="1"/><label for="star1" class="full"></label>
                      <input type="radio" id="star0.5" name="rating" value="0.5"/><label for="star0.5" class="half"></label>
                    </div>
                  </fieldset>
                </div>
              </div>
              <div>
                <% if(userHasReview) { %>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                  <button type="submit" class="btn btn-primary">Save</button>
                <% } else { %>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Submit</button>
                <% } %>
              </div>
            </div>
          </form>
        </div>
    </section>

    <!-- Review Comment Section -->
    <section class="mt-5">
      <h5 style="border-bottom: 1px solid gray; margin-bottom: 0;">Reviews</h5>
      <ul style="padding: 0;">
        <% 
        // Sort reviews by likes and then by createdAt
        reviews.sort((a, b) => {
          if (b.reviewLikes !== a.reviewLikes) {
            return b.reviewLikes - a.reviewLikes; // Sort by likes
          }
          // If likes are equal, sort by createdAt
          return new Date(b.createdAt) - new Date(a.createdAt);
        });
        %>
        <% for(let i=0; i < reviews.length; i++) {%>
          <li class="justify-content-between py-3" style="border-bottom: 1px solid gray; list-style: none;">
            <div class="review d-flex">
              <p class="username" style="font-weight: bold; margin-right: 10px;"><%= reviews[i].user.userName %></p>
              <!-- Show star ratings based on reviews.rating -->
              <div>
                  <% let rating = reviews[i].rating; %>
                  <% for (let j = 1; j <= 5; j++) { %>
                      <% if (j <= Math.floor(rating)) { %>
                          <span class="fa fa-star checked"></span>
                      <% } else if (j === Math.ceil(rating) && rating % 1 !== 0) { %>
                          <span class="fa fa-star-half checked"></span>
                      <% } %>
                  <% } %>
              </div>
            </div>
          
            <p><%= reviews[i].review%></p>
            <div class="review-container">
              <form action="/review/likeReview/<%= movieId %>/<%= reviews[i]._id%>?_method=PUT" method="POST">
                <% let userLikesArray = reviews[i].userLikes.map(String); %>
                <% if(userLikesArray.includes(userId)) {%>
                  <button class="like-button" type="submit" id="review-section"><i class="fa fa-heart"></i>
                    <span style="font-weight: 600"> Liked</span>
                  </button> 
                  <% if(reviews[i].reviewLikes === 1) { %>
                    <span><%= reviews[i].reviewLikes %> like</span>
                  <% } else { %>
                    <span><%= reviews[i].reviewLikes %> likes</span>
                  <% } %>
                <% } else { %>
                  <button class="unlike-button" type="submit" id="review-section"><i class="fa fa-heart"></i>
                    <span style="font-weight: 500"> Like Review</span>
                  </button> 
                  <% if(reviews[i].reviewLikes === 0) { %>
                    <span></span>
                  <% } else if (reviews[i].reviewLikes === 1) { %>
                    <span><%= reviews[i].reviewLikes %> like</span>
                  <% } else { %>
                    <span><%= reviews[i].reviewLikes %> likes</span>
                  <% } %>
                <% } %>
              </form>
              
              <%if(reviews[i].user._id == userId){ %>
                <form action="/review/deleteReview/<%= movieId %>/<%= reviews[i]._id %>?_method=DELETE" method="POST" class="delete-form">
                  <button class="delete-button" type="submit" id="review-section"><i class="fa fa-trash"></i></button> 
                </form>
              <%}%>
            </div>
          </li>
        <% } %>
      </ul>
    </section>   
  </section>
</main>

<script>
  // Get all the star inputs
  const stars = document.querySelectorAll('.rating input');

  // Add click event listener to each star input
  stars.forEach(star => {
      star.addEventListener('click', function() {
          // Toggle the visibility of clear button based on whether any star is checked or not
          document.getElementById('clearRating').style.display = document.querySelector('.rating input:checked') ? 'inline-block' : 'none';
      });
  });

  // Add click event listener to clear button to reset the rating
  document.getElementById('clearRating').addEventListener('click', function() {
      event.preventDefault(); // Prevent the default form submission

      document.querySelector('.rating input:checked').checked = false;
      // Hide the clear button after resetting the rating
      this.style.display = 'none';
  });
</script>
<%- include('partials/footer') -%>