<%- include('partials/head') -%>
<%- include('partials/nav') -%>
<main>
    <section style="margin: 0 auto; padding: 0 10px; max-width: 1100px;">
      <% if(userProf == null) { %>
        <h1 class="missing-profile">Could not find user.</h1>
      <% } else { %>
        <section>
          <section class="row mt-4">
              <div class="col-auto mt-auto">
                <img src="<%= userProf.profilePic %>" alt="user profile picture" loading="lazy" style="width: 95px; height: 95px;" class="img-fluid rounded">
              </div>
              <div class="col mt-auto">
                <div class="d-flex justify-content-between">
                  <h4><%= userProf.userName %></h4>
                  <% if (userStatus.loggedIn) { %>
                    <% if(userProf.id === user.id) { %>
                      <a href="/settings" class="btn btn-primary">Edit Profile</a>
                    <% } %>
                  <% } %>    
                </div>
              </div>
          </section>
          <div style="border-bottom: 2px solid #456; padding-bottom: 20px;"></div>

          
        
          <section class="row">

            <section class="mt-5 col-lg-2 col-sm-2">
              <h5 style="border-bottom: 1px solid #456;" class="mb-1 pb-1">Bio</h5>
              <p style="overflow-wrap: break-word; font-size: 13px;" class="bio"><%= userProf.bio %></p>
            </section>

            <section class="mt-5 col">
              <section>
                <h5 style="border-bottom: 1px solid #456; margin-bottom: 0;" class="pb-1">Favorite Films</h5>
                <div class="pt-3 mb-5">
                  <% if(userProf.favFilms.length !== 0) { %>
                      <% for(let i=0; i < favFilms.length; i++) {%>
                        <a href="/movies/<%= favFilms[i].movieId %>" class="text-decoration-none">
                          <img src="<%= base_url2 + favFilms[i].moviePoster %>" class="img-fluid rounded pr-3" alt="favorite movie poster" loading="lazy" style = "width: 170px; height: 255px; margin-right: 10px;">
                        </a>
                      <% } %>
                  <% } else { %>
                      <% if (userStatus.loggedIn) { %>
                        <% if(userProf.id === user.id) { %>
                          <p>Have any <a href="/settings">favorite films</a>?</p>
                        <% } %>
                      <% } %>                  
                  <% } %>
                </div>                    
              </section>

              <!-- Review Comment Section -->
              <section class="review-comments">
                <h5 class="pb-1">Recent Reviews</h5>
                <ul>
                  <% for(let i=0; i < recentReviews.length; i++) {%>
                    <% if (i === recentReviews.length - 1) { %>
                      <li class="justify-content-between py-3 review-last">
                    <% } else {%>
                      <li class="justify-content-between py-3  review-other">
                    <% } %>
                      <div class="review row">
                        <div class="col-auto mt-auto">
                          <a href="/movies/<%= recentReviews[i].movieId %>">
                            <img src="<%= base_url + movieDetails[i].poster_path %>" alt="movie poster" loading="lazy" class="img-fluid rounded">
                          </a>
                        </div>
                        <section class="col">
                          <h4 style="font-weight: bold; margin-right: 10px;">

                            <a href="/movies/<%= recentReviews[i].movieId %>" style="text-decoration: none; color: white;">
                              <%= movieDetails[i].title %>
                            </a>
                            
                            <span class="movie-date">
                              <%= movieDetails[i].release_date.split('-')[0] %>
                            </span>
                          </h4>
                          <% const dateObject = new Date(recentReviews[i].createdAt); %>
                          <% const month = dateObject.toLocaleString('default', { month: 'short' });; %>  
                          <% const day = dateObject.getDate(); %>  
                          <% const year = dateObject.getFullYear(); %>  
                          <% const datePart = `${month} ${day} ${year}`; %>  


                          
                          <!-- Show star ratings based on recentReviews.rating -->
                          <div class="mb-2">
                              <% let rating = recentReviews[i].rating; %>
                              <% for (let j = 1; j <= 5; j++) { %>
                                  <% if (j <= Math.floor(rating)) { %>
                                      <span class="fa fa-star checked"></span>
                                  <% } else if (j === Math.ceil(rating) && rating % 1 !== 0) { %>
                                      <span class="fa fa-star-half checked"></span>
                                  <% } %>
                              <% } %>
                              <span style="color: #89a; font-size: 14px; font-weight: 300; margin-left: 10px;">             
                                <%= datePart %>  
                              </span>
                          </div>
                          <p class="review mb-2"><%= recentReviews[i].review%></p>

                          <div class="review-container">
                            <form action="/review/likeReview/<%= recentReviews[i].movieId %>/<%= recentReviews[i]._id%>?_method=PUT" method="POST" class="review-likes">
                              <% let userLikesArray = recentReviews[i].userLikes.map(String); %>
                              <% if (userStatus.loggedIn) { %>
                                <% if(userLikesArray.includes(userId)) {%>
                                  <button class="like-button" type="submit" id="review-section"><i class="fa fa-heart"></i>
                                    <span> Liked</span>
                                  </button> 
                                  <% if(recentReviews[i].reviewLikes === 1) { %>
                                    <span><%= recentReviews[i].reviewLikes %> like</span>
                                  <% } else { %>
                                    <span><%= recentReviews[i].reviewLikes %> likes</span>
                                  <% } %>
                                <% } else { %>
                                  <button class="unlike-button" type="submit" id="review-section"><i class="fa fa-heart"></i>
                                    <span> Like Review</span>
                                  </button> 
                                  <% if(recentReviews[i].reviewLikes === 0) { %>
                                    <span></span>
                                  <% } else if (recentReviews[i].reviewLikes === 1) { %>
                                    <span><%= recentReviews[i].reviewLikes %> like</span>
                                  <% } else { %>
                                    <span><%= recentReviews[i].reviewLikes %> likes</span>
                                  <% } %>
                                <% } %>
                              <% } else { %>
                                <button class="unlike-button" type="submit" id="review-section"><i class="fa fa-heart"></i>
                                  <span> Like Review</span>
                                </button> 
                                <% if(recentReviews[i].reviewLikes === 0) { %>
                                  <span></span>
                                <% } else if (recentReviews[i].reviewLikes === 1) { %>
                                  <span><%= recentReviews[i].reviewLikes %> like</span>
                                <% } else { %>
                                  <span><%= recentReviews[i].reviewLikes %> likes</span>
                                <% } %>
                              <% } %>
                            </form>
          
                            <% if (userStatus.loggedIn) { %>
                              <%if(JSON.stringify(recentReviews[i].user._id) === JSON.stringify(user._id)){ %>
                                <form action="/review/deleteReview/<%= recentReviews[i].movieId %>/<%= recentReviews[i]._id %>?_method=DELETE" method="POST" class="delete-form">
                                  <button class="delete-button" type="submit" id="review-section"><i class="fa fa-trash"></i></button> 
                                </form>
                              <%}%>
                            <% } %>              
                          </div>
                        </section>
                      </div>
                    </li>
                  <% } %>
                </ul>
              </section> 
            </section>  
                
          </section>
      <% } %>
    </section>
</main>

<%- include('partials/footer') -%>

