<%- include('partials/head') -%>
<%- include('partials/nav') -%>
<main>
    <section class = "profilePicHeader">
        <section>
          <section class="row mt-4">
              <div class="col-auto mt-auto">
                <img src="<%= userProf.profilePic %>" alt="user profile picture" loading="lazy" class="img-fluid rounded userProfilePic">
              </div>
              <div class="col mt-auto">
                <div class="d-flex justify-content-between">
                  <h4><%= userProf.userName %></h4>
                  <% if (userStatus.loggedIn) { %>
                    <% if(userProf.id === user.id) { %>
                      <a href="/settings" class="btn btn-primary">Edit Profile</a>
                    <% } %>
                  <% } %>    
                </div>
              </div>
          </section>

          <div class="profile-line"></div>

          <section class="row">
            <section class="mt-5 col-lg-2 col-sm-2 profile-bio">
              <h5 class="mb-1 pb-1">Bio</h5>
              <p class="bio"><%= userProf.bio %></p>
            </section>

            <section class="mt-5 col">
              <section class="profile-favfilms">
                <h5 class="pb-1">Favorite Films</h5>
                <div class="pt-3 mb-5">
                  <% if(userProf.favFilms.length !== 0) { %>
                      <% for(let i=0; i < favFilms.length; i++) {%>
                        <% const movieTitle = favFilms[i].movieTitle.replace(/:/g, '').replace(/\s+/g, '-').toLowerCase() %>
                          <% if(favFilms[i].moviePoster != null) { %>
                            <a href="/movies/<%= favFilms[i].movieId %>-<%= movieTitle %>" class="text-decoration-none">
                              <img src="<%= base_url2 + favFilms[i].moviePoster %>" class="img-fluid rounded pr-3 favfilm-poster" alt="favorite movie poster" loading="lazy">
                            </a>                  
                          <% } else { %>
                              <img src="/imgs/missing-img.jpg" alt="movie poster" class="missing-img favfilm-poster" loading="lazy">
                          <% } %>
                      <% } %>
                  <% } else { %>
                      <% if (userStatus.loggedIn) { %>
                        <% if(userProf.id === user.id) { %>
                          <p>Have any <a href="/settings">favorite films</a>?</p>
                        <% } %>
                      <% } %>                  
                  <% } %>
                </div>                    
              </section>

              <!-- Review Comment Section -->
              <section class="review-comments">
                <h5 class="pb-1">Recent Reviews</h5>
                <ul>
                  <% for(let i=0; i < recentReviews.length; i++) {%>
                    <% if (i === recentReviews.length - 1) { %>
                      <li class="justify-content-between py-3 review-last">
                    <% } else {%>
                      <li class="justify-content-between py-3  review-other">
                    <% } %>
                      <div class="review row">
                        <div class="col-auto mt-auto">
                          <% const movieTitle = movieDetails[i].title.replace(/:/g, '').replace(/\s+/g, '-').toLowerCase() %>
                          <% if(movieDetails[i].poster_path != null) { %>
                            <a href="/movies/<%= recentReviews[i].movieId %>-<%= movieTitle %>">
                              <img src="<%= base_url + movieDetails[i].poster_path %>" alt="movie poster" loading="lazy" class="img-fluid rounded">
                            </a>                  
                          <% } else { %>
                              <img src="/imgs/missing-img.jpg" alt="movie poster" class="missing-img-2" loading="lazy">
                          <% } %>
                        </div>
                        <section class="col">
                          <h4>
                            <a href="/movies/<%= recentReviews[i].movieId %>-<%= movieTitle %>" class="movie-title">
                              <%= movieDetails[i].title %>
                            </a>
                            
                            <span class="movie-date">
                              <%= movieDetails[i].release_date.split('-')[0] %>
                            </span>
                          </h4>
                          <% const dateObject = new Date(recentReviews[i].createdAt); %>
                          <% const month = dateObject.toLocaleString('default', { month: 'short' });; %>  
                          <% const day = dateObject.getDate(); %>  
                          <% const year = dateObject.getFullYear(); %>  
                          <% const datePart = `${month} ${day}, ${year}`; %>  


                          
                          <!-- Show star ratings based on recentReviews.rating -->
                          <div class="mb-2">
                              <% let rating = recentReviews[i].rating; %>
                              <% for (let j = 1; j <= 5; j++) { %>
                                  <% if (j <= Math.floor(rating)) { %>
                                      <span class="fa fa-star checked"></span>
                                  <% } else if (j === Math.ceil(rating) && rating % 1 !== 0) { %>
                                      <span class="fa fa-star-half checked"></span>
                                  <% } %>
                              <% } %>
                              <span class="review-dateCreated">             
                                <%= datePart %>  
                              </span>
                              <span>
                                <% if(recentReviews[i].comments.length > 0) { %>
                                  <a href="/<%= userProf.userName %>/review/<%= recentReviews[i].movieId %>-<%= movieTitle %>" class="review-comment">                                  
                                    <i class="fa fa-comment"></i>
                                    <%= recentReviews[i].comments.length %>
                                  </a>
                                <% } %>
                              </span>
                          </div>
                          <p class="review mb-2"><%= recentReviews[i].review %></p>

                          <div class="review-container">
                            <form action="/review/likeReview/<%= recentReviews[i].movieId %>-<%= movieTitle %>/<%= recentReviews[i]._id%>?_method=PUT" method="POST" class="review-likes">
                              <% let userLikesArray = recentReviews[i].userLikes.map(String); %>
                              <% if (userStatus.loggedIn) { %>
                                <%if(recentReviews[i].user.id === user.id){ %>
                                  <i class="fa fa-heart user-heart"></i>
                                  <% if(recentReviews[i].reviewLikes === 0) { %>
                                    <span>No likes yet</span>
                                  <% } else if (recentReviews[i].reviewLikes === 1) { %>
                                    <a href="/<%= userProf.userName %>/review/<%= recentReviews[i].movieId %>-<%= movieTitle %>/likes" class="like-link">
                                      <%= recentReviews[i].reviewLikes %> like
                                    </a>
                                  <% } else { %>
                                    <a href="/<%= userProf.userName %>/review/<%= recentReviews[i].movieId %>-<%= movieTitle %>/likes" class="like-link">
                                      <%= recentReviews[i].reviewLikes %> likes
                                    </a>
                                  <% } %>
                                <% } else if(userLikesArray.includes(userId)) { %>
                                  <button class="like-button" type="submit" id="review-section"><i class="fa fa-heart"></i>
                                    <span> Liked</span>
                                  </button> 
                                  <% if(recentReviews[i].reviewLikes === 1) { %>
                                    <a href="/<%= userProf.userName %>/review/<%= recentReviews[i].movieId %>-<%= movieTitle %>/likes" class="like-link">
                                      <%= recentReviews[i].reviewLikes %> like
                                    </a>
                                  <% } else { %>
                                    <a href="/<%= userProf.userName %>/review/<%= recentReviews[i].movieId %>-<%= movieTitle %>/likes" class="like-link">
                                      <%= recentReviews[i].reviewLikes %> likes
                                    </a>
                                  <% } %>
                                <% } else { %>
                                  <button class="unlike-button" type="submit" id="review-section"><i class="fa fa-heart"></i>
                                    <span> Like Review</span>
                                  </button> 
                                  <% if(recentReviews[i].reviewLikes === 0) { %>
                                    <span></span>
                                  <% } else if (recentReviews[i].reviewLikes === 1) { %>
                                    <a href="/<%= userProf.userName %>/review/<%= recentReviews[i].movieId %>-<%= movieTitle %>/likes" class="like-link">
                                      <%= recentReviews[i].reviewLikes %> like
                                    </a>
                                  <% } else { %>
                                    <a href="/<%= userProf.userName %>/review/<%= recentReviews[i].movieId %>-<%= movieTitle %>/likes" class="like-link">
                                      <%= recentReviews[i].reviewLikes %> likes
                                    </a>
                                  <% } %>
                                <% } %>
                              <% } else { %>
                                <button class="unlike-button" type="submit" id="review-section"><i class="fa fa-heart"></i>
                                  <span> Like Review</span>
                                </button> 
                                <% if(recentReviews[i].reviewLikes === 0) { %>
                                  <span></span>
                                <% } else if (recentReviews[i].reviewLikes === 1) { %>
                                  <a href="/<%= userProf.userName %>/review/<%= recentReviews[i].movieId %>-<%= movieTitle %>/likes" class="like-link">
                                    <%= recentReviews[i].reviewLikes %> like
                                  </a>
                                <% } else { %>
                                  <a href="/<%= userProf.userName %>/review/<%= recentReviews[i].movieId %>-<%= movieTitle %>/likes" class="like-link">
                                    <%= recentReviews[i].reviewLikes %> likes
                                  </a>
                                <% } %>
                              <% } %>
                            </form>
                            <a href="/<%= userProf.userName %>/review/<%= recentReviews[i].movieId %>-<%= movieTitle %>" class="open-review">
                              <span>Open Review</span>
                            </a>
          
                            <% if (userStatus.loggedIn) { %>
                              <%if(recentReviews[i].user.id === user.id){ %>
                                <form action="/review/deleteReview/<%= recentReviews[i].movieId %>-<%= movieTitle %>/<%= recentReviews[i]._id %>?_method=DELETE" method="POST" class="delete-form">
                                  <button class="delete-button" type="submit" id="review-section"><i class="fa fa-trash"></i></button> 
                                </form>
                              <%}%>
                            <% } %>              
                          </div>
                        </section>
                      </div>
                    </li>
                  <% } %>
                </ul>
              </section> 
            </section>  
                
          </section>
    </section>
</main>

<%- include('partials/footer') -%>

