<%- include('partials/head') -%>
<%- include('partials/nav') -%>
<main >
    <section class="justify-content-between py-4 review-page">
        <div class="review row">
            <div class="col-auto mt-auto">
                <div class="d-flex flex-column">
                    <% const movieTitle = movieDetails.title.replace(/:/g, '').replace(/\s+/g, '-').toLowerCase() %>

                    <% if(movieDetails.poster_path != null) { %>
                        <a href="/movies/<%= movieDetails.id %>-<%= movieTitle %>">
                            <img src="<%= base_url + movieDetails.poster_path %>" alt="movie poster" loading="lazy" class="img-fluid rounded review-poster">
                        </a>                   
                    <% } else { %>
                        <img src="/imgs/missing-img.jpg" alt="movie poster" class="missing-img review-poster" loading="lazy">
                    <% } %>
                    <!-- Button trigger modal -->
                    <% if (userStatus.loggedIn) { %>
                        <% if(userReview.user == userId) { %>
                            <button type="button" class="btn btn-primary mt-2 review-button" data-bs-toggle="modal" data-bs-target="#exampleModal">Edit review</button>
                        <% } %>
                    <% } %>
                </div>
            </div>
            <section class="col ps-4">
                <section class="pb-2 review-profile">
                        <a href="/<%= userProf.userName %>" class="nav-link">
                            <img src="<%= userProf.profilePic %>" alt="user profile picture" loading="lazy" class="img-fluid rounded review-prof-pic">
                        </a>
                        <span class="ms-1">Review By</span>
                        <a href="/<%= userProf.userName %>" class="text-decoration-none">
                            <span><%= userProf.userName %></span>
                        </a>
                </section>
                
                <h4 class="mt-2">
                    <a href="/movies/<%= movieDetails.id %>-<%= movieTitle %>" class="movie-title"><%= movieDetails.title %></a>
                    <span class="movie-date"><%= movieDetails.release_date.split('-')[0] %></span>
                </h4>
                <% const dateObject = new Date(userReview.createdAt); %>
                <% const month = dateObject.toLocaleString('default', { month: 'short' });; %>  
                <% const day = dateObject.getDate(); %>  
                <% const year = dateObject.getFullYear(); %>  

                <% const datePart = `${month} ${day}, ${year}`; %>  
                <div class="mb-2">
                    <% let rating = userReview.rating; %>
                    <% for (let j = 1; j <= 5; j++) { %>
                        <% if (j <= Math.floor(rating)) { %>
                            <span class="fa fa-star checked"></span>
                        <% } else if (j === Math.ceil(rating) && rating % 1 !== 0) { %>
                            <span class="fa fa-star-half checked"></span>
                        <% } %>
                    <% } %>
                    <span class="review-dateCreated">             
                        <%= datePart %>  
                    </span>
                </div>
                <p class="review mb-2 user-review"><%= userReview.review%></p>
                
                <div class="review-container">
                    <form action="/review/likeReview/<%= userReview.movieId %>-<%= movieTitle %>/<%= userReview._id%>?_method=PUT" method="POST" class="review-likes">
                    <% let userLikesArray = userReview.userLikes.map(String); %>
                    <% if (userStatus.loggedIn) { %>
                        <%if(JSON.stringify(userReview.user._id) === JSON.stringify(user._id)){ %>
                          <i class="fa fa-heart user-heart"></i>
                          <% if(userReview.reviewLikes === 0) { %>
                            <span>No likes yet</span>
                          <% } else if (userReview.reviewLikes === 1) { %>
                            <a href="/<%= userProf.userName %>/review/<%= userReview.movieId %>-<%= movieTitle %>/likes" class="like-link">
                              <%= userReview.reviewLikes %> like
                            </a>
                          <% } else { %>
                            <a href="/<%= userProf.userName %>/review/<%= userReview.movieId %>-<%= movieTitle %>/likes" class="like-link">
                              <%= userReview.reviewLikes %> likes
                            </a>
                          <% } %>
                        <% } else if(userLikesArray.includes(userId)) { %>
                          <button class="like-button" type="submit" id="review-section"><i class="fa fa-heart"></i>
                            <span> Liked</span>
                          </button> 
                          <% if(userReview.reviewLikes === 1) { %>
                            <a href="/<%= userProf.userName %>/review/<%= userReview.movieId %>-<%= movieTitle %>/likes" class="like-link">
                              <%= userReview.reviewLikes %> like
                            </a>
                          <% } else { %>
                            <a href="/<%= userProf.userName %>/review/<%= userReview.movieId %>-<%= movieTitle %>/likes" class="like-link">
                              <%= userReview.reviewLikes %> likes
                            </a>
                          <% } %>
                        <% } else { %>
                          <button class="unlike-button" type="submit" id="review-section"><i class="fa fa-heart"></i>
                            <span> Like Review</span>
                          </button> 
                          <% if(userReview.reviewLikes === 0) { %>
                            <span></span>
                          <% } else if (userReview.reviewLikes === 1) { %>
                            <a href="/<%= userProf.userName %>/review/<%= userReview.movieId %>-<%= movieTitle %>/likes" class="like-link">
                              <%= userReview.reviewLikes %> like
                            </a>
                          <% } else { %>
                            <a href="/<%= userProf.userName %>/review/<%= userReview.movieId %>-<%= movieTitle %>/likes" class="like-link">
                              <%= userReview.reviewLikes %> likes
                            </a>
                          <% } %>
                        <% } %>
                      <% } else { %>
                        <button class="unlike-button" type="submit" id="review-section"><i class="fa fa-heart"></i>
                          <span> Like Review</span>
                        </button> 
                        <% if(userReview.reviewLikes === 0) { %>
                          <span></span>
                        <% } else if (userReview.reviewLikes === 1) { %>
                          <a href="/<%= userProf.userName %>/review/<%= userReview.movieId %>-<%= movieTitle %>/likes" class="like-link">
                            <%= userReview.reviewLikes %> like
                          </a>
                        <% } else { %>
                          <a href="/<%= userProf.userName %>/review/<%= userReview.movieId %>-<%= movieTitle %>/likes" class="like-link">
                            <%= userReview.reviewLikes %> likes
                          </a>
                        <% } %>
                      <% } %>
                    </form>
                
                    <% if (userStatus.loggedIn) { %>
                        <%if(JSON.stringify(userReview.user._id) === JSON.stringify(user._id)){ %>
                            <form action="/review/deleteReview/<%= userReview.movieId %>-<%= movieTitle %>/<%= userReview._id %>?_method=DELETE" method="POST" class="delete-form">
                                <button class="delete-button" type="submit" id="review-section"><i class="fa fa-trash"></i></button> 
                            </form>
                        <% } %> 
                    <% } %>              
                </div>
            </section>
            <section class="mt-5">
                
                <h3 class="mb-2 comment-heading">
                    <i class="fa fa-comments"></i>
                    <% if(comments.length === 0) { %>
                        COMMENT?
                    <% } else if (comments.length === 1) { %>
                        <%= comments.length %> COMMENT
                    <% } else { %>
                        <%= comments.length %> COMMENTS
                    <% } %>                
                </h3>

                <% if (userStatus.loggedIn) { %>
                    <form action="/comment/createComment/<%= user.id %>/<%= userReview._id %>" method="POST" class="mt-2 mb-5 pt-2 comment-textarea">
                        <textarea class="form-control comments" id="comment" name="comment" rows="4" placeholder="Reply as <%= user.userName %>..."></textarea>
                        <div class="d-flex justify-content-end mt-3">
                            <button type="submit" class="btn btn-primary">POST</button>
                        </div>
                    </form>
                <% } %> 
                

                <!-- Comment Section -->
                <section class="review-comments comment">
                    <ul>
                    <% for(let i=0; i < comments.length; i++) { %>
                        <% if (i === comments.length - 1) { %>
                        <li class="justify-content-between py-3 review-last">
                        <% } else { %>
                        <li class="justify-content-between py-3 review-other">
                        <% } %>
                        <div class="row">
                            <% const dateObject = new Date(comments[i].createdAt); %>
                            <% const month = dateObject.toLocaleString('default', { month: 'short' });; %>  
                            <% const day = dateObject.getDate(); %>  
                            <% const year = dateObject.getFullYear(); %>  

                            <% const datePart = `${month} ${day}, ${year}`; %> 
                            <div class="col-lg-3 col-sm-3 d-flex align-items-center">
                                <a href="/<%= comments[i].user.userName %>" class="nav-link">
                                    <img src="<%= comments[i].user.profilePic%>" alt="user profile picture" loading="lazy" class="img-fluid rounded comment-pic">
                                </a>
                                <div class="row">
                                    <a href="/<%= comments[i].user.userName %>" class="ms-2 comment-user"><%= comments[i].user.userName %></a>     
                                    <span class="comment-dateCreated ms-2"><%= datePart %></span>
                                </div>
                            </div>

                            <div class="col d-flex">
                                <p class="comment"><%= comments[i].comment%></p>
                                <% if (userStatus.loggedIn) { %>
                                    <%if(comments[i].user.id === user.id){ %>
                                        <form action="/comment/deleteComment/<%= comments[i].id %>/<%= userReview._id %>?_method=DELETE" method="POST" class="delete-form">
                                            <button class="delete-button" type="submit"><i class="fa fa-trash"></i></button> 
                                        </form>
                                    <% } %> 
                                <% } %> 
                            </div> 
                        </div>
                        </li>
                    <% } %>
                    </ul>
                </section>   
            </section>
            
            <!-- Modal -->
            <section class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h4 class="modal-title font-weight-bold" id="exampleModalLabel"> <%= movieDetails.title %> 
                            <span class="movie-date">
                            <%= movieDetails.release_date.split('-')[0] %>
                            </span>
                        </h4>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
            
                        <!-- Modal Body -->
                        <% if (userStatus.loggedIn) { %>
                            <form action="/review/updateReview/<%= movieId %>-<%= movieTitle %>?_method=PUT" method="POST">
                        <% } %>
                            <div class="modal-body d-flex">
                                <div class="d-flex align-items-center">
                                <% if(movieDetails.poster_path != null) { %>
                                    <img src="<%= base_url + movieDetails.poster_path %>" class="img-fluid rounded modal-poster"  alt="movie poster" loading="lazy">
                                    <% } %>
                                </div>
                
                                <div class="mb-3 modal-review">
                                <h5 class="form-label font-weight-bold">Review</h5>
                                <% if (userStatus.loggedIn) { %>
                                    <% if(userReview) { %>
                                    <textarea class="form-control" id="review" name="review" rows="7" placeholder="Add a review..."><%= userReview.review %></textarea>
                                    <% } else { %>
                                    <textarea class="form-control" id="review" name="review" rows="7" placeholder="Add a review..."></textarea>
                                    <% } %>
                                <% } %>
                                </div>
                            </div>
                
                            <!-- Modal Footer -->
                            <div class="modal-footer d-flex justify-content-between">
                                <div class="rating-wrap d-flex flex-column">
                                <h5>Rating</h5>
                                <div>
                                    <fieldset class="d-flex">
                                    <button id="clearRating" class="clear-button" aria-label="Clear rating"><i class="fas fa-times"></i></button>
                                    <div class="rating">
                                        <input type="radio" id="star5" name="rating" value="5"/><label for="star5" class="full" title="Awesome"></label>
                                        <input type="radio" id="star4.5" name="rating" value="4.5"/><label for="star4.5" class="half"></label>
                                        <input type="radio" id="star4" name="rating" value="4"/><label for="star4" class="full"></label>
                                        <input type="radio" id="star3.5" name="rating" value="3.5"/><label for="star3.5" class="half"></label>
                                        <input type="radio" id="star3" name="rating" value="3"/><label for="star3" class="full"></label>
                                        <input type="radio" id="star2.5" name="rating" value="2.5"/><label for="star2.5" class="half"></label>
                                        <input type="radio" id="star2" name="rating" value="2"/><label for="star2" class="full"></label>
                                        <input type="radio" id="star1.5" name="rating" value="1.5"/><label for="star1.5" class="half"></label>
                                        <input type="radio" id="star1" name="rating" value="1"/><label for="star1" class="full"></label>
                                        <input type="radio" id="star0.5" name="rating" value="0.5"/><label for="star0.5" class="half"></label>
                                    </div>
                                    </fieldset>
                                </div>
                                </div>
                                <div>
                                <% if (userStatus.loggedIn) { %>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save</button> 
                                <% } %>    
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </section> 
</main>

<<script>
    // Get all the star inputs
    const stars = document.querySelectorAll('.rating input');
  
    // Function to check the appropriate star rating input based on user's previous rating
    function checkUserRating(userRating) {
      stars.forEach(star => {
        if (star.value == userRating) {
          star.checked = true;
        }
      });
    }
  
    // Add click event listener to each star input
    stars.forEach(star => {
      star.addEventListener('click', function() {
        // Toggle the visibility of clear button based on whether any star is checked or not
        document.getElementById('clearRating').style.display = document.querySelector('.rating input:checked') ? 'inline-block' : 'none';
      });
    });
  
    // Add click event listener to clear button to reset the rating
    document.getElementById('clearRating').addEventListener('click', function() {
      event.preventDefault(); // Prevent the default form submission
  
      document.querySelector('.rating input:checked').checked = false;
      // Hide the clear button after resetting the rating
      this.style.display = 'none';
    });
  
    // Check and autofill the stars if user has already made a review
    <% if (userStatus.loggedIn) { %>
      <% if (userReview) { %>
        checkUserRating(<%= userReview.rating %>);
      <% } %>
    <% } %>
  
  </script>

<%- include('partials/footer') -%>

