<%- include('partials/head') -%>
<%- include('partials/nav') -%>
<main>
  <section class="search-results row justify-content-center">
    <% if(searchQuery == "" || movies.length === 0) {%>
      <section class="col">
        <h3 class="mt-3 search">No Movies Found</h3>
      </section>

      <aside class="col-4">
          <h3 class="mt-3 search">Show results for</h3>
          <ul>
              <li class="search-movie rounded">
                <a href="/search/movie?query=<%= searchQuery %>">Movies</a>
              </li>
              <li>
                <a href="/search/user?query=<%= searchQuery %>">Users</a>
              </li>
          </ul>
      </aside> 
    <% } else {%>
      <section class="col mb-5">
        <h3 class="mt-3 search">Search Results for "<%= searchQuery %>"</h3>

        <% movies.forEach(movie => { %>
          <div class="card mb-3">
              <div class="d-flex">
                <div>
                  <% const movieTitle = movie.title.replace(/:/g, '').replace(/\s+/g, '-').toLowerCase() %>
                  <% if(movie.poster_path == null) {%>
                    <a href="/movies/<%= movie.id%>-<%= movieTitle %>">
                      <img src="/imgs/missing-img.jpg" class="img-fluid rounded-start search-poster" alt="missing movie poster" loading="lazy">
                    </a>
                  <% } else {%>
                    <a href="/movies/<%= movie.id%>-<%= movieTitle %>">
                      <img src="<%= base_url + movie.poster_path %>" class="img-fluid rounded-start search-poster" alt="movie poster" loading="lazy">
                    </a>                
                  <% }%>
                </div>
                <div class="card-body">
                  <h4 class="card-title"><%= movie.title %>
                    <% if(movie.release_date.split('-')[0] !== "") {%>
                      <span>(<%= movie.release_date.split('-')[0] %>)</span>
                    <% } %>
                  </h4>
                  <p class="card-text"><%= movie.overview %></p>   
                </div>
              </div>
          </div>       
        <% }); %>    
      </section>

      <aside class="col-4">
        <h3 class="mt-3 search">Show results for</h3>
        <ul>
          <li class="search-movie rounded">
            <a href="/search/movie?query=<%= searchQuery %>">Movies</a>
          </li>
          <li>
            <a href="/search/user?query=<%= searchQuery %>">Users</a>
          </li>
        </ul>
      </aside> 
           
    <% }%>
  </section>
</main>

<%- include('partials/footer') -%>

